<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="15.0.6" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net462" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net462" />
  <package id="Selenium.Support" version="4.0.0-alpha05" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha05" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>